/* Credit: https://codepen.io/virsagomk2/pen/EvWRJm */



/*---ELEMENTS---*/
.section-name {
	display: block;
	width: 100%;
	text-align: center;
}
.wrapper {
    width: 90vw;
    align-content: center;
}
.jumbo {
	width: auto;
	padding: 1em 0;
	text-align: center;
	height: 50vh;
    min-height: 30em;
    max-height: 40em;
	display: block;
	background-image: url(https://source.unsplash.com/collection/3775871);
	background-position: center;
	background-size: cover;
	background-attachment: scroll;
	background-repeat: no-repeat;
	-webkit-clip-path: ellipse(100% 100% at 50% 0%);
	clip-path: ellipse(100% 100% at 50% 0%);
}
.overlay {
	margin-top: 0;
	width: auto;
	background: #00000057;
	height: calc(50vh + 12em);
	top: -15px;
	position: relative;
	padding: 1em 0;
	height: 50vh;
    min-height: 30em;
    max-height: 40em;
	display: block;
	-webkit-clip-path: ellipse(100% 100% at 50% 0%);
	clip-path: ellipse(100% 100% at 50% 0%);
}
.jumbo h1 {
	margin-top: 5em;
	line-height: 2rem;
	margin-bottom: 0.5em;
	color: white;
	-webkit-text-shadow: 2px 5px 10px rgba(0,0,0,0.75);
    -moz-text-shadow: 2px 5px 10px rgba(0,0,0,0.75);
    text-shadow: 2px 5px 10px rgba(0,0,0,0.75);
}
.search {
	border: 0;
	background-color: white;
	width: 50vw;
	margin: auto;
	padding: 1em;
	border-radius: 3px;
	-webkit-box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.75);
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.75);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.search legend {
	display: none;
}
.search label {
	flex-basis: 80%;
	border: 0;
	margin-left: 0;
	display: inline-block;
}
.search label input {
	width: 100%;
	padding: 0.5em;
	outline: none;
	border-radius: 5px;
	border: 1px solid rgb(220, 220, 220);
}
.search label input:focus {
	border: 1px solid rgba(72, 101, 130, 0.5);
}
.search .find-btn {
	flex-basis: 15%;
	background-color: #486582;
	cursor: pointer;
	height: fit-content;
	padding: 0.5em 0;
	border-radius: 6px;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	font-size: 1.1rem;
	border: 2px solid #fff;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.search .find-btn:hover {
	transition: all 0.1s ease-in;
	background: #fff;
	border: 2px solid #486582;
	color: #486582;
}
.product {
	margin: 2em auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	padding: 5vw;
}
.product h1 {
	display: block;
	width: 100%;
}

/*---CARD---*/
.card {
	min-width: 15vw;
	/* max-width: 25%; */
	margin: 1em;
	display: block;
	flex-shrink: 1;
	flex-grow: 1;
	border-radius: 1em;
	border: 1px solid rgba(72, 101, 130, 0.25);
	transition: all 0.1s ease-in;
	z-index: 1;
}

.card:hover,
.card:active,
.card:focus {
    border-color: transparent;
	border-collapse: collapse;
	top: 10px;
    -webkit-box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
    box-shadow: 10px 10px 115px -30px rgba(0,0,0,0.37);
	transform: scale(1.1);

}

.card > a {
	text-decoration: none;
}

.box {
	background-color: rgba(72, 101, 130, 0.15);
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
}

.card img {
	margin: 1em auto;
	max-width: 100%;
	max-height: 200px;
	width: auto;
	border-radius: 1em;
}

header.card-content {
	padding: .8em;
	display: inline-block;
	text-align: center;
	margin: auto;
	color: #000;
	height: 120px;
	overflow: scroll;
}

footer.card-content {
	border-top: 1px solid rgba(72, 101, 130, 0.4);
	padding: 1em;
	color: #fff;
	background: #486582;
	height: 60px;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
}

.card-content span {
	margin: 0.3em 0;
}

.card-desc {
	font-size: 1rem;
	display: block;
}

.card-header {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.5rem;
	display: block;
}

.contributor {
	display: block;
}

/*---MOBILE SCREEN---*/
@media screen and (max-width : 22em) {
    header.card-content {
        padding: 1em 0;
    }
/*---ELEMENTS---*/
    .wrapper {
		width: auto;
	}
	.jumbo {
        height: 50vh;
		min-height: 20em;
        max-height: 30em;
		-webkit-clip-path: ellipse(150% 100% at 50% 0%);
		clip-path: ellipse(100% 150% at 50% 0%);
	}
	.jumbo h1 {
		margin-top: 2em;
		margin-bottom: 0.5em;
	}
	.search {
		width: 80vw;
		display: block;
	}
	.search input {
		padding: 1em 0.5em;
		width: 100%;
	}
	.search button {
		width: 100%;
		padding: 0.5em;
		margin-top: 1em;
		display: block;
	}
	.product {
	margin: 1em auto;
	}
/*---ARTICLE---*/
	article.card {
		width: 40vw;
	}
}

/*---TABLET SCREEN ---*/
@media screen and (min-width : 22em) and (max-width : 34em) {
    header.card-content {
        padding: 1em 0;
    }
/*---ELEMENTS---*/
    .wrapper {
		width: auto;
	}
	.jumbo {
		height: 40vh;
		-webkit-clip-path: ellipse(100% 100% at 50% 0%);
		clip-path: ellipse(100% 100% at 50% 0%);
	}
	.jumbo h1 {
		margin-top: 2em;
		margin-bottom: 0.5em;
	}
	.search {
		width: 80vw;
		display: block;
	}
	.search label {
		display: block;
		margin-bottom: 1em;
	}
	.search button {
		width: inherit;
	}
	.product {
	margin: 1em auto;
	}
/*---ARTICLE---*/
	article.card {
		width: 40vw;
	}
}

/*---DESKTOP SCREEN ---*/
@media screen and (min-width: 34em) and (max-width : 55em) {
	.wrapper {
		width: 90vw;
	}
	.jumbo {
		height: 45vh;
		-webkit-clip-path: ellipse(100% 100% at 50% 0%);
		clip-path: ellipse(100% 100% at 50% 0%);
	}
	.jumbo h1 {
		margin-top: 4em;
		margin-bottom: 0.5em;
	}
	.search {
		width: 80vw;
	}
}

